.error {
  color: red;
  font-weight: bolder;
}
* {
  font-family: "Poppins";
}
body {
  min-height: 100svh;
}
* .error {
  color: red;
  font-weight: bolder;
}
* span {
  font-size: 1.5rem;
  width: 100% / 2;
  color: green;
  background-color: blue;
}
